{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #37474F;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'iet:dashboard' %}"><strong>Expense Tracker</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if navbar == 'home' %}active{% endif %}">
                    <a class="nav-link" href="">{{ request.user }}</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="{% static 'img/male_user_26px.png' %}" alt="user"
                             class="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-dark"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
