<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        @page {
            size: a4;
            margin: 1cm;
        }

        .marginTop {
            margin-top: 0;
        }

        .marginBottom {
            margin-bottom: 0;
        }
    </style>
</head>
<body style="font-size: 14px">
<div>
    <p style="text-align: center; font-size: 16px; margin-bottom: 1px">Transactions Statements</p>
    <p style="text-align: center; font-size: 16px; margin-top: 2px">Income/Expenses</p>
</div>
<div style="float: left; text-align: left">
    <h5 class="marginBottom">Date: {{ date }}</h5>
</div>
{% if data_obj %}
    <table style="border: 1px solid black">
        <thead>
        <tr style="padding: 2px 0 0 0; ">
            <th>Date</th>
            <th>Type</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Note</th>
            <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        {% for x in data_obj %}
            <tr>
                {% for k, v in x.items %}
                    <td style="text-align: center; padding-top: 2px">{{ v }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div style="text-align: center; font-size: 20px">No Record</div>
{% endif %}

</body>